In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
datasets=pd.get_dummies(dataset,drop_first=True)

In [5]:
datasets.tail()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
45,1000.23,124153.04,1903.93,64926.08,False,True
46,1315.46,115816.21,297114.46,49490.75,True,False
47,0.00,135426.92,0.00,42559.73,False,False
48,542.05,51743.15,0.00,35673.41,False,True
49,0.00,116983.80,45173.06,14681.40,False,False

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
num_cols = ['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [8]:
scaler = StandardScaler()

In [9]:
datasets[num_cols] = scaler.fit_transform(datasets[num_cols])

In [10]:
datasets.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,2.016411,0.560753,2.153943,2.011203,False,True
1,1.955860,1.082807,1.923600,1.999430,False,False
2,1.754364,-0.728257,1.626528,1.980842,True,False
3,1.554784,-0.096365,1.422210,1.776627,False,True
4,1.504937,-1.079919,1.281528,1.357740,True,False

In [11]:
independant = datasets[['R&D Spend','Administration', 'Marketing Spend', 'State_Florida','State_New York']]

In [12]:
dependant = datasets[['Profit']]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(independant, dependant, test_size = 0.3, random_state = 0)

In [15]:
from sklearn.svm import SVR
regressor=SVR(kernel="linear",C=0.1)
regressor=regressor.fit(X_train,y_train)

C:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
y_pred=regressor.predict(X_test)

In [17]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [18]:
r_score

0.9057284792612986

In [19]:
import pickle

In [20]:
filename="SVM_final.sav"
pickle.dump(regressor,open(filename,"wb"))

In [21]:
model=pickle.load(open(filename,"rb"))

In [29]:
var = datasets[['State_Florida']]
print(var.dtypes)

State_Florida    bool
dtype: object

In [33]:
RD =float(input("Enter RD spent: "))
Administration =float(input("Enter administration cost "))
Marketing =float(input("Enter marketing cost "))
State_Florida =input("Enter 1 or 0 for Florida residence ")
State_New =input("Enter 1 or 0 for New york residence ")

Enter RD spent:  10
Enter administration cost  10
Enter marketing cost  10
Enter 1 or 0 for Florida residence  1
Enter 1 or 0 for New york residence  0

In [34]:
result=model.predict([[RD,Administration,Marketing,State_Florida,State_New]])

C:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [35]:
result

array([9.90972577])